<form name="container-form" method="post" class="mt-4" action="/courses/handle-form-actions">
    <div>
        <h3>Khoá học của tôi</h3>
        {{#if deletedCount}}
        <a href="/me/trash/courses">Thùng rác: {{deletedCount}}</a>
        {{/if}}

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">--Hành động --</option>
                <option value="delete">Xoá</option>
            </select>

            <button class="btn btn-info btn-sm btn-checkAllSubmit disabled">Thực hiện</button>
        </div>

    </div>

    {{!-- {{_sort.type}} --}}

    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">
                    ID
                {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">
                    Tên khoá học    
                    {{!-- helpers index.js --}}
                    {{{sortable 'name' _sort}}}
                    {{!-- <a href="?_sort&column=name&type=desc">
                        <span class="oi oi-elevator"></span>
                    </a> --}}
                </th>
                <th scope="col">Mô tả khoá học</th>
                <th scope="col">
                    Thời gian khoá học
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check ">
                        <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}">
                    </div>
                </td>
                <td scope="row">{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-info">Edit</a>
                    <a href="" type="button" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-course-model">Delete</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào.
                    <a href="/courses/create">Đăng khoá học!</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-model" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắc muốn xoá?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>


{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-checkAllSubmit');

        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
            //console.log(id);

        })
        //onsole.log(btnDeleteCourse)
        btnDeleteCourse.onclick = () => {
            //alert(courseID);
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            deleteForm.submit();
        }

        //CheckboxAll clicked
        checkboxAll.change(function () {
            //console.log(Math.random());
            //console.log($(this).prop('checked'));

            var isCheckedAll = $(this).prop('checked');
             courseItemCheckbox.prop('checked', isCheckedAll);
              renderCheckAllSubmitBtn();
        });

        //console.log(courseItemCheckbox);

        //Course item checkbox change
        courseItemCheckbox.change(function() {
            //console.log(Math.random());

            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            //console.log(isCheckedAll);
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //Check all submit button clicked
        checkAllSubmitBtn.click(function(e) {
            //console.log(Math.random());
            e.preventDefault(); 

            var isSubmittable =  !$(this).hasClass('disabled');
            //console.log(isSubmittable);

            if (isSubmittable) {
                containerForm.submit();
            }
        });

        checkAllSubmitBtn.on('submit', function(e) {
            var isSubmittable =  !$(this).hasClass('disabled');
            //console.log(isSubmittable);

            if (!isSubmittable) {
                  e.preventDefault(); 
            }
        })

        //Re-render check all submit
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            //console.log(checkedCount);
            if(checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            } 
            else {
                 checkAllSubmitBtn.addClass('disabled');
            }
        }

        //console.log(checkAllSubmitBtn);

        //console.log(containerForm);
    });
</script>